# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- ENTORNOS VIRTUALES (CRÍTICO) ---
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/
.env

# --- IDEs (VS CODE / CURSOR / PYCHARM) ---
.vscode/
.idea/
.cursorignore
.cursorindexingignore
.ruff_cache/
.mypy_cache/

# --- ASIR / NETWORKING ---
*.log
*.swp
*.pcap
*.cap
*.trc
.pdm-python
.pdm-build/

# --- SISTEMA ---
.DS_Store
Thumbs.db